<!-- <form>
    <label for="username">Name: </label>
    <input type="text" name="username"/>
    <label for="email">Email:</label>
    <input type="email" name="email"/>
 keep any one button
    <button type="button" onclick="">Submit</button>
</form> -->
<title>LOGIN</title>
<h1 class="active">WELCOME MY WEB PAGES</h1>
<button (click)="onclicked()">cilck me</button>
<div class="address-card">
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"><br>
     name:<input type="text" formControlName="username"><br>
    <span class="text-danger"
    *ngIf="(profileFormControl.username.touched || submitted) && profileFormControl.username.errors?.required">
    Name is required
</span>
     <br>
     email:<input type="text" formControlName="email"><br>
     <span class="text-danger"
     *ngIf="(profileFormControl.email.touched || submitted) 
     && profileFormControl.email.errors?.required">
     Email is required
 </span>
 <span class="text-danger"
    *ngIf="profileFormControl.email.touched && profileFormControl.email.errors?.email">
       Enter a valid email address
</span>
    <br>
    <button type="submit">SAVE</button>
</form>
</div>

