.active{
    background: green;
  text-align: center;
 color: blanchedalmond
}
.address-card{
    text-align: center;
    background-color:greenyellow;
    padding: 29%;
    text-transform: capitalize;
}
.div-action{
     text-align:bottom;
}
.add{
    text-align:center;
    background-position:top;
    background-color: chartreuse;
    
}