.active{
    background: green;
  text-align: center;
 color: blanchedalmond
}
.address-card{
    text-align: center;
    padding: 29%;
    text-transform: capitalize;
}
.div-action{
     text-align:bottom;
}
.add{
    font-family: roboto,Arial, Helvetica, sans-serif;
    float: left;
    text-align:center;
    background-position:top;
    background-color: chartreuse;
    
}
.address-card{
    background-image: url(./app/imag/pic.webp);
    background-size: cover;
    color: white;
}
.card{
    background-image: url(./app/logo/logo.jpg);
    background-size:cover;
    color:white;
    padding: 400px;
    text-transform:inherit;
    text-align: center;
     text-align-last:center;
}
.what{
    background-image: url(./app/imag/Breakthrough.png);
    background-size:cover;
    padding: 440px;;
    width: inherit;
}
.true{
    text-align: center;
    background-color:greenyellow;
    color:black;
    padding: auto;
    width: initial;
    text-transform: capitalize;
}